/* 
    RESETS  
*/

html, body {}
* { padding:0; margin:0; }
body {
    font-family:"Helvetica Neue", Arial, sans-serif;
    font-size:81.25%; /* 13px / 16px */
    color:#555;
    position: relative;
    text-align: center;
    background: #FAFAFA url(/images/bgimage.png) repeat-x scroll top center;
	line-height: 18px;
	font-weight:300;
}
h1,h2,h3,h4,h5,h6,input,select,option,textarea {
    font-size:1em; /* 10px / 16px */
    font-family:"Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
}
ul {
    list-style:none;
}
img {
    border:0;
}
.hr { clear:both; float:none; }
.hr hr { display:none; }
a {
    text-decoration:none;
    color:#4D81B3;
    outline:none;
	font-weight:300;    
}
a:hover {
    color:#5696d3;
}

fieldset {
  border-width: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}
/*
    end resets
*/

/* clearfix */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: block;
}

/* end clearfix */

h1, h2 {
  font-size: 1.307692307692308em; /* 17px / 13px */
}
h1 {
  margin-bottom: .75em;
}

h2 {
  margin: 1em 0;
  padding: .5em 1em;
  background-color: #F8F8F8;
}

div.page {
  width: 80%;
  overflow: hidden;
  max-width: 1200px;
  text-align: left;
  border: 1px solid #DCDEDA;
  position: relative;
  /*
  margin: 2.307692307692308em auto 5.384615384615385em; /* 30 / 13 ... 70 / 13 *
  padding: 2.307692307692308em 5.769230769230769em; /* 30 / 13 ... 75 / 13 *
  */

  margin: 2.307692307692308em auto 5.384615384615385em; /* 30 / 13 ... 70 / 13 */
  padding: 1.538461538461538em 4% 2.307692307692308em; /* 30 / 13 ... 75 / 13 */

  background: #FFF;
}

div.slim {
  padding-right: 55%;
  /*min-width: 30.769230769230769em; /* 400 / 13 */
}

p.info {
  margin: 1.538461538461538em 0; /* 20 / 13 */
  line-height:18px
}

.header {
  padding: 3em 0 0;
  border-bottom: 1px solid #565656;
  margin-bottom: 1.538461538461538em;
  position: relative;
}
.home .header {
  border-bottom: none;
  margin-bottom: 0;
}

ul.social {
  position: absolute;
  top: 0;
  right: 0;
}
  ul.social li {
    float: left;
    text-align: center;
    margin-left: .38461538461538em; /* 5 / 13 */;
  }
    ul.social a {
      display: block;
      height: 22px;
      width: 22px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      margin-top: 12px;
    }

    ul.social a.twitter {
      background: transparent url(/images/twitter-22.png) no-repeat scroll center center;
    }
    ul.social a.fb {
      background: transparent url(/images/facebook-22.png) no-repeat scroll center center;
    }
    
h1.logo {
  float: left;
}
  h1.logo a {
    height: 49px;
    width: 305px;
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: transparent url(/images/betaworks_logo.gif) no-repeat scroll 0 0;
  }
  .home h1.logo a {
    height: 75px;
    margin-top: -26px;
    background-image: url(/images/betaworks_logo_large.gif);
  }

ul.nav {
  margin-top: 1.38em;
  margin-right: -0.85em;
  float: right;
}

  ul.nav li { 
    float: left;
  }
    ul.nav a {
      padding: 0 1em 1em;
      font-weight:200;
      text-transform: uppercase;
      display: inline-block;
      color: #555;
    }
    ul.nav a:hover:after {
      display: block;
      content: '';
      padding-bottom: 0.2em;
      border-bottom: 2px solid #C8212C;
    }
    
.home .intro {
  font-size: 1.923076923076923em; /* 25px / 13px */
  padding: 0 .52em; /* 13px / 25px */
  font-weight: 100;
  line-height: 30px;
}
.team .intro {
  font-size: 1.923076923076923em; /* 25px / 13px */
  padding: 0 .52em; /* 13px / 25px */
  font-weight: 100;
  line-height: 30px;
}
.events .intro {
  font-size: 1.3em; /* 25px / 13px */
  padding: 0 .52em; /* 13px / 25px */
  font-weight: 200;
  line-height: 20px;
}
.careers .intro {
  font-size: 1.923076923076923em; /* 25px / 13px */
  padding: 0 .52em; /* 13px / 25px */
  font-weight: 100;
  line-height: 30px;
}

#stop_sopa {
  width: 100%;
  text-align: center;
  color: #FFF;
  margin: 0 -7% 0 -1em;
  padding: 40px 7% 40px 1em;
  background-color: #454545;
  
}

#stop_sopa img {
  width: 90%;
  height: auto;
  max-width: 479px;
}

#stop_sopa p {
  margin-top: 15px;
  font-size: 16px;
  font-weight: lighter;
  
}

#stop_sopa a {
  color: #FFF;
}

#stop_sopa a:hover {
  border-bottom: 1px dotted #FFF;
}

p.large {
  font-size: 1.92308em;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

/*
#businesses {
  margin-top: 20px;
  padding: 0 1em;
}

  #businesses li {
    float: left;
    width: 33%;
    padding: 10px 0 10px 0.3%;
  }
  
  #businesses h3 {
    margin-bottom: 20px;
    text-indent: -9999px;
    background: transparent no-repeat scroll 0 center;
    height: 50px;
  }
  #businesses h3 a{
	  margin-top: 0;
	  height: 50px;
  }
  #findings.business h3 { background-image: url(/images/findings.png); }
  #newsme.business h3 { background-image: url(/images/newsme.png); }
  #bitly.business h3 { background-image: url(/images/bitly.png); }  
  #chartbeat.business h3 { background-image: url(/images/chartbeat.png); }
  #socialflow.business h3 { background-image: url(/images/socialflow.png); }
  #bloglovin.business h3 { background-image: url(/images/bloglovin.png); }
	
  #businesses a {
    display: block;
    margin-top: 10px;
    coloe: #1155CC;
    font-size: 13px;
  }
  
  #businesses a:after {
    content: "»";
    margin-left: 3px;
  }
  #businesses li p {
    width: 90%;
  }
*/
#businesses {
  background: url("/images/homepage-businesses-bg.gif") top left repeat-x;
  padding: 0 10.1%;
  margin: 0 -10%;
  position: relative;
}  
  .rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
  }


  .rslides li.business {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
  }
  .rslides li:first-child {
    position: relative;
    display: block;
    float: left;
    }

  .rslides img {
    display: block;
    float: left;
    border: 0;
  }
  #businesses .rslides_tabs {
    position: absolute;
    top: 1.5em;
    right: 8.3%;
  }
  #businesses .rslides_tabs li {
    float: left;
    margin-left: 0.4em;
  }
  #businesses .rslides_tabs a {
    display: block;
    width: 1.2em;
    height: 1.2em;
    overflow: hidden;
    color: #999;
    background: #999;
  }
  #businesses .rslides_here a {
    color: #fff;
    background: #fff;
  }

  .company_screenshot {
    float: left;
    width: 360px;
    height: 390px;
    margin: 2em 0 0 0;
  }
  .company_screenshot img {
    border: 4px solid #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(50,50,50,0.4);
  }
  .company_summary {
    margin: 1.5em 0 1.5em 350px;
    font-size: 1.3em;
    line-height: 1.4em;
	font-weight: 200;
  }
  .company_stage {
    font-size: 0.7em;
    color: #888;
    font-style: italic;
  }
  .company_logo {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: 15px;
    height: 153px;
  }
  .company_calltoaction {
    background-color: #4d81b3;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5em;
    padding: 0.6em 1.3em;
    display: inline-block;
  }
  a.company_calltoaction:hover {
    color: #fff;
    background-color: #69a6e1;
  }

  img.devicescreenshot {
    border-radius: 0;
    border: none;
    box-shadow: none;
  }
  
#betanews {
  margin-top: 2em;
  border-top: 1px solid #ccc;
  padding-top: 2em;
}
  #betanews .blogs {
    float: left;
    width: 65%;
  }
   
  #betanews .blog:first-child {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }
  
  #betanews .blogs {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #555;
  }

  #betablog {
    font-size: 0.667em;
    padding: 1.1em 0 0;
    margin-bottom: 1.5em;
    border-bottom: 1px dotted #ccc;
  }
  #betanews .blog {
    margin: 0;
    padding: 2em 0;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
  }
  #betanews .blog p {
    margin-bottom: 0.8em;
    font-weight: 200;
  }
  
  #betanews .blog .title {
    font-size: 1.53846153846154em; /* 18/13 */
    margin-bottom: 0.3em;
    line-height: 1.3em;
    font-weight: 200;
    float: right;
    letter-spacing: 0.02em;
    width: 88%;
  }
  #betanews .article {
    float: right;
    width: 88%;
  }
  #betanews .blog .timestamp span {
    display: block;
  }
  #betanews .article h1, #betanews .article h2 {
    font-weight: 200;
    line-height: 1.3em;
    margin: 0 0 1em;
  }
  #betanews .blog .title a {
    color: #cd2027;
  }
  #betanews .blog .title a:hover {
    color: #97080e;
  }

  #betanews .blog .timestamp {
    color: #bbb;
    display: block;
    margin-bottom: .846153846153846em; /* 11/13 */
    float: left;
    width: 10%;
    font-size: 0.7em;
    line-height: 1.3em;
    text-align: right;
    clear: right;
    padding-top: 0.5em;
  }
  
  #betanews .blog .byline {
    color: #AAA;
    display: block;
    margin: .5em 0;
    font-size: .846153846153846em; /* 11/13 */
  }
  #betanews .blog em {
    margin: .5em 0;
  }
  
  #betanews .blog .continue {
    display: block;
    font-size: .846153846153846em; /* 11/13 */
    margin-top: .25em;
    height: 1em;
    line-height: 1em;
  }

  #betanews .blog img {
    max-width: 100%;
  }
  
  #betablogmore {
    float: right;
    width: 88%;
    margin: 1em 0;
    font-weight: 200;
  }
  #betablogmore a {
    color: #cd2027;
  }

  #betanews .updates {
    float: right;
    width: 30%;
  }
  
  #betanews h3 {
    text-transform: bold;
  }
  

  
  #betanews .update:last-child {
    margin-bottom: 0;
  }
  
  #betanews .jobs,
    margin-top: 1.5em;
  }
  
  #betanews .job:first-child,
  #betanews .tweet:first-child {
    margin-top: 0;
  }
  
  #betanews .job .title {
    font-weight: bold;
    padding: .2em 0;
  }
  #betanews .tweets {
    margin-top: 1em;
  }
  #betatwitter h3 a {
    color: #cd2027;
  }
  #betatwitter h3 a:hover {
    
    color: #97080e;
  }
  #betanews .tweet .date {
    display: block;
    margin: 0;
    color: #959DAB;
    font-size: 11px;
  }
  
  #betanews .tweet {
    margin-top: 1em;
    margin-bottom: 1em;
    background: #fafafa;
    padding: 1em;
    border-bottom: 1px solid #ddd;
  }
  
.footer {
  margin-top: .846153846153846em; /* 11/13 */
  height: 30px;
  line-height: 30px;
  color: #AAA;
  font-size: .846153846153846em; /* 11/13 */
}
  .footer li {
    float: left;
  }
  .footer li:before {
    content: "|";
    margin: 0 1em;
    display: inline-block;
    position: relative;
  }
  .footer li:first-child:before  {
    display: none;
  }
  .footer a {
    color: #D0332E;
  }
  
/* investments page */
#investment-title {
  float: left;
  margin-right: 2em;
}
#investment-summary {
  margin-bottom: 2em;
}
#investment-summary p {
  font-size: 1.3em;
  margin-bottom: 1em;
  font-weight: 200;
  line-height: 20px;
}
#investment-summary p.large {
  font-size: 1.92em;
  line-height: 30px;
  font-weight: 800;
  margin-bottom: 0.5em;
}
#investment-categories {
  margin-bottom: 1.5em;
}
#investment-categories li {
  float: left;
  margin-right: 4px;
}
#investment-categories a.filter-selected {
  background: #c8212c;
  border-color: #c8212c;
  color: #fff;
}
#investment-categories li a {
  background: #fafafa;
  border: 1px solid #d3d3d3;
  
  color: #555;
  padding: 5px 7px;
}
#investment-categories:after {
  content: " ";
  display: block;
  clear: both;
  height: 1px;
}
#investment-list {
  border-left: 1px solid #ddd;
}
#investment-list:after {
  content: " ";
  display: block;
  clear: both;
}
#investment-list a {
  display: block;
  overflow: none;
  float: left;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: -1px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
.w1 { width: 90px; }
.w2 { width: 181px; }
.w3 { width: 272px; }


.faded img {
  opacity: 0.05;
  -moz-opacity: 0.05;
  filter:alpha(opacity=1);
}

/* end investments page */



/* contact page */
.contact .page {
  background: #fff no-repeat 0 9.3em;
  -moz-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -o-background-size: 100% auto;
  -ms-background-size: 100% auto;
  background-size: 100% auto;
  background-image: url(/images/highline.png);
}
.contact .content {
  padding-top: 32%;
}

.contact .header {
  border-bottom: none;
}

.contact .contact_details {
  float: left;
  width: 34%;
  min-width: 20em;
  margin-right: 5%;

}
.contact dl {
  line-height: 1.4em;
}
.contact dt {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #aaa;
}
.contact dd {
  font-size: 1.3em;
  margin-bottom: 1.3em;
}

.contact .bg {
  float: right;
  width: 60%;
}
.contact .bg iframe {
  max-width: 1000px;
  width: 100%;
}
/* end contact page */

/* careers page */
.careers .page {
  background: #FFF  repeat-x scroll center 9.3em;
  
  -moz-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -o-background-size: 100% auto;
  -ms-background-size: 100% auto;
  background-size: 100% auto;

  background-image:url(/images/office-horiz-830-4.png);
}
.careers .content {
  padding-top: 32%;
}

.careers .header {
  border-bottom: none;
}
  .careers .main {
    float: left;
    clear: left;
    width: 60%;
    margin-bottom: 2em;
  }
  .careers .secondary {
    float: right;
    clear: right;
    width: 30%;
    margin-bottom: 2em;
  }
  .job {
    margin-bottom: 1em;
  }
  
  .job h2 {
    background: none;
    padding: 0 0 0.4em;
    border-bottom: 1px solid #999;
  }
  .job h2:first-child {
    margin-top: 0;
  }
  
  .job p {
    margin: 1em 0;
  }
  
  .job ul {
    margin: 1em;
    list-style-type: disc;
  }
  
  .job ul li {
    margin: .5em 3em;
  }
  .portfolio_jobs {
    padding: 1em;
    background: #EBF0F9;
  }
    .portfolio_jobs li {
      list-style: disc;
      margin-left: 1.4em;
    }

/* end careers page */

/*team page */

#betaworkers {
  margin: 2em 0;
}

  #betaworkers li {
    float: left;
    width: 46%;
    margin-right: 4%;
    position: relative;
    height: 12em;
  }

    #betaworkers li img {
      float: left;
      width: 125px;
      height: 125px;
	  margin-right: 16px;
    }
  
    #betaworkers li h2 {
      margin: 0;
	  background-color:#fff
    }
    #betaworkers li h2,
    #betaworkers li p {
      padding-left: 140px;
      padding-right: 0;
    }
  
    #betaworkers li p {
      margin-top: .5em;
      padding-right: 5px;
    }
    
    #betaworkers li a {
      display: block;
      margin-top: .5em;
    }
    
.advisors, .investors {
  float: left;
  margin-bottom: 2em;
}

.advisors {
  width: 25%;
}
.investors { 
  width: 75%;
}

  .investors li {
    float: left;
    width: 33%;
  }
  
.advisors a,
.investors a {
  line-height: 2em;
}

.event_group {
  margin: 1.5em 0 0;
}

.event_group li {
  width: 46%;
  padding: 2%;
  float: left;
  margin-bottom: 1.5em;
}

  .event_group li * {
    max-width: 100%;
  }

  
  .event_group li p {
    min-height: 4.5em;
  }
  
  




/* end team page */
  
  
@media screen and (max-width: 1024px) {

  div.slim {
    padding-right: 50%;
  }
  
  ul.nav {
    float: left;
    clear: left;
  }

  .company_screenshot {
    margin-top: 40px;
    width: 230px;
  }
  .company_screenshot img {
    width: 80%;
    height: auto;
  }
  .company_logo {
    background-size: contain;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .company_summary {
    margin-left: 210px;
    font-size: 1.2em;
  }
  .company_calltoaction {
    margin-left: 0;
  }

  #betaworkers li {
    width: 48%;
    margin-right: 2%;
    min-height: 16em;
  }
  #betaworkers li img {
    float: left;
    width: 110px;
    height: 110px;
  }
  #betaworkers li h2,
  #betaworkers li p {
    padding-left: 125px;
  }
  
  .advisors {
    width: 100%;
    float: none;
  }
  
    .advisors li {
      float: left;
      width: 33%;
    }
  
  .investors { 
    width: 100%;
    float: none;
  }

  .contact .header,
  .careers .header {
    border-bottom: 1px solid #565656;
  }
  .contact .page, 
  .careers .page {
    background: #fff;
  }
  .contact .content,
  .careers .content {
    padding-top: 0;
  }
    
}



@media screen and (max-width: 768px) {
  div.page {
    margin-bottom: 10em;
  }
  .company_screenshot {
    display: none;
  }
  .chartbeat .company_logo {
    background-image: url("/images/company-imagery/chartbeat-logo-small.png");
  }
  .socialflow .company_logo {
    background-image: url("/images/company-imagery/socialflow-logo-small.png");
  }

  .company_summary, .company_calltoaction {
    margin-left: 0;
  }
      
    #betanews .blogs,
    #betanews .updates {
      float: none;
      width: auto;
    }
    
    #stop_sopa {
      margin: 0 -1em;
      padding: 40px 1em;
      
    }
    
    div.slim {
      padding-right: 0%;
    }
    
    #betaworkers li {
      float: none;
      width: 100%;
      margin-right: 0px;
      margin-bottom: 1em;
      height: auto;
      min-height: 0;
    }
    
    .advisors li,
    .investors li {
      width: 50%;
    }
  
    .event_group li {
      width: 48%;
      padding: 1%;
      float: left;
    }
  
    .event_group li p {
      min-height: 6em;
    }
    
    .investments .fade {
      display:none;
    }
    
    .contact .bg iframe {
      max-width: 1000px;
      width: 100%;
    }

  .careers .main, .careers .secondary {
    float: none;
    width: auto;
  }
}

@media screen and (max-width: 480px) {
  
  
  div.page {
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
    border-width: 1px 0;
  }
  
  h1.logo {
    float: none;
    width: 100%;
  }
  
  h1.logo {
    background-position: top center;
  }
  
  h1.logo a {
    width: 100%;
    overflow: hidden;
  }
  
  ul.nav li a {
    display: block;
    padding: 1em;
  }

  #betablogmore,
  #betanews .blog .title,
  #betanews .article,
  #betanews .blog .timestamp {
    width: 100%;
    float: none;
    text-align: left;
    clear: both;
  }
  #betanews .blog .timestamp span {
    display: inline;
  }

  
  /*
  ul.nav {
    padding: 0 1%;
    margin: 2em -1%;
    height: 81px;
    line-height: 40px;
    background-color: #7D7D7D;
  }
  
  
  ul.nav li:before {
    display: none;
  }

  ul.nav li.bottom {
    width: 50%;
    text-align: center;
  }

  ul.nav li a {
    display: block;
  }
  
  ul.social {
    position: absolute;
    z-index: 20;
    top: 2.4em;
    top: 0;
    right: 0;
  }
  /*
  ul.social:before {
    content: "Visit us on:";
    float: left;
  }*/
  
  .contact .page {
    background-position: center 20em;
  }
  


  .careers .page {
    background-position: center 20em;
  }
  
  .event_group li {
    width: auto;
    padding: 1%;
    float: none;
  }
  
  .event_group li p {
    min-height: 0;
  }
  
}
